<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>resetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer contraseña</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  <div class="container">  <ion-card-content>
    <ion-input [(ngModel)]="correo" label="Correo: "></ion-input>
    <ion-button (click)="resetPassword()" color="tertiary"  shape="round"> Restablecer contraseña </ion-button>
    <ion-button routerLink="/login" color="tertiary"  shape="round">Volver</ion-button>
  </ion-card-content></div>
  </ion-card>
  <img src="assets/img/9414511b5818d8a59963335f79843b97.gif" alt="Animación GIF" class="gif">
    
</ion-content>
